<div class="card border-2" style="width: 20rem;" [class.border-success]="manage() && book().shareable" [class.border-warning]="manage() && book().archived">
  <img [src]="bookCover" class="card-img-top" alt="...">
  <div class="card-body p-0">
    <div class="px-2 py-3">
      <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
        <i class="fas fa-book"></i>
        &nbsp;{{book().title}}
      </h5>
      <h5 class="card-subtitle fs-6 text-secondary mb-1">
        <i class="fas fa-pencil"></i>
        &nbsp;{{book().authorName}}
      </h5>
      <h5 class="card-subtitle fs-6 text-secondary mb-1">
        <i class="fas fa-code"></i>
        &nbsp;{{book().isbn}}
      </h5>
      <h5 class="card-subtitle fs-6 text-secondary mb-1">
        <i class="fas fa-user"></i>
        &nbsp;{{book().owner}}
      </h5>
    </div>
    <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <app-rating
          [rating]="book().rate || 0">
        </app-rating>
        <span class="fw-bold">
          @if ((book().rate || 0) > 0) {
            {{book().rate}}
          }
        </span>
      </div>
      @if (!manage()) {
        <div class="d-flex gap-2">
          <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
          <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
          @if (book().isInWaitingList) {
            <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger"></i>
          } @else {
            <i (click)="onAddToWaitingList()" class="fas fa-heart"></i>
          }
        </div>
      } @else {
        <div class="d-flex gap-2">
          <i (click)="onEdit()" class="fas fa-edit text-success"></i>
          <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
          <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
        </div>
      }
    </div>
  </div>
</div>
