<h3>Books list</h3>
@if (message()) {
  <div class="alert" [class.alert-success]="isMessageSuccess" [class.alert-danger]="!isMessageSuccess">
    {{message()}}
  </div>
}
<hr>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  @for (book of bookResponse().content; track book.id) {
    <app-book-card
      [book]="book"
      (bookAction)="handleBookAction($event)">
    </app-book-card>
  }
</div>
<app-pagination-footer
  [totalPages]="totalPages"
  (pageChanged)="onPageChanges($event)">
</app-pagination-footer>
